<!DOCTYPE html>
<html lang = "kor">
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">
        <title>RPC 워프레임</title>
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/index.css', v = 0.1) }}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;" rel="stylesheet">
    </head>
    <body>
        <script>
            window.onload = function () {
                top_change();
            }
        </script>
        <div>
            <ul class="header">
                <li class="header_logo">
                    <a>Warframe<br>Trade Stats</a>
                </li>
                <li class="header_search">
                    <script>
                        function input_search(){
                            var msg = document.getElementById("item_name").value;
                            if (msg == ""){
                                console.log("값 없음")
                            }else {
                                var links = 'result/' + String(msg);
                                location.href = links;
                            }
                        }
                    </script>
                    <div class="text_box">
                        <div class="text_boxs"></div>
                        <input type="text" id="item_name" onkeypress="if(event.keyCode==13) {input_search(); return false;}" placeholder="검색">
                        <span class="icon" onclick="input_search()"><i class="fa fa-search"></i></span>
                    </div>
                </li>
                <li class="header_menu">
                    <div class="text_boxss"></div>
                    <a class="text_menu">메뉴</a>
                    <ul class="header_menu_nav">
                        <li>
                            <div class="text_boxss_1"></div>
                            <a class="text_menu_1">TOP/BOTTOM</a>
                        </li>
                        <li>
                            <div class="text_boxss_2"></div>
                            <a class="text_menu_2">거래 현황</a>
                        </li>
                        <li>
                            <div class="text_boxss_3"></div>
                            <a class="text_menu_3">시세 분석</a>
                        </li>
                        <li>
                            <div class="text_boxss_4"></div>
                            <a class="text_menu_4">백테스트</a>
                        </li>
                    </ul>
                </li>
                <li class="header_info">
                    <a>로그인</a>
                </li>
            </ul>
            
            <div class = "menu">
            
                <div class = "content_1">
                    <div class = "content_1_img">
                        <div class = "content_1_main0" onClick="location.href='/result/{{ a_top_name[0] }}'">
                            <img alt="{{ a_top_name[0] }}" src="{{ url_for('static', filename = a_top_path_1[0], v = 0.1) }}">
                            <div class = "content_1_title">
                                <a>추천 상승 아이템</a><br>
                                <a>{{ a_top_price[0] }}({{ a_top_before[0] }})</a>
                                <a>{{ a_top_kr_name[0] }}</a>
                            </div>
                        </div>
                    </div>
                    <div class = "content_1_img">
                        <div class = "content_1_main1" onClick="location.href='/result/{{ a_bottom_name[0] }}'">
                            <img alt="{{ a_bottom_name[0] }}" src="{{ url_for('static', filename = a_bottom_path_1[0], v = 0.1) }}">
                            <div class = "content_1_title">
                                <a>위험 하락 아이템</a><br>
                                <a>{{ a_bottom_price[0] }}({{ a_bottom_before[0] }})</a>
                                <a>{{ a_bottom_kr_name[0] }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class = "content_0" style="display: table;">
                    <div style="height: 100%; width: 100%; display: table-cell; vertical-align: middle;">
                        <div class="buttons">
                            <button class="button_up" onclick="top_change()">
                                증가중
                            </button>
                            <button class="button_down" onclick="bottom_change()">
                                하락중
                            </button>
                        </div>
                        <script>
                            function top_change(){
                                var table_value = document.getElementById('table');
                                document.getElementById('table').className = "table_up";
                                {% for i in range(1,11) %}
                                table_value.rows[{{i}}].cells[0].innerHTML = "<a>{{ t_top_price[i - 1] }}({{ t_top_before[i - 1] }})</a>";
                                table_value.rows[{{i}}].cells[2].innerHTML = "<a >▲</a>";
                                var result = table_value.rows[{{i}}].cells[1].innerText;
                                table_value.rows[{{i}}].cells[1].innerHTML = "<div><div class='item_name'><a href='result/{{ t_top_name[i - 1] }}'>{{ t_top_kr_name[i - 1] }}</a></div><div class = 'item_box'><img alt='{{ t_top_name[i - 1] }}'src='{{ url_for('static', filename = t_top_path_1[i - 1], v = 0.1) }}'></div></div>";
                                {% endfor %}
                            }

                            function bottom_change(){
                                var table_value = document.getElementById('table');
                                document.getElementById('table').className = "table_down";
                                {% for i in range(1,11) %}
                                table_value.rows[{{i}}].cells[0].innerHTML = "<a>{{ t_bottom_price[i - 1] }}({{ t_bottom_before[i - 1] }})</a>";
                                table_value.rows[{{i}}].cells[2].innerHTML = "<a style='color:blue;'>▼</a>";
                                var result = table_value.rows[{{i}}].cells[1].innerText;
                                table_value.rows[{{i}}].cells[1].innerHTML = "<div><div class='item_name'><a href='result/{{ t_bottom_name[i - 1] }}'>{{ t_bottom_kr_name[i - 1] }}</a></div><div class = 'item_box'><img alt='{{ t_bottom_name[i - 1] }}'src='{{ url_for('static', filename = t_bottom_path_1[i - 1], v = 0.1) }}'></div></div>";
                                {% endfor %}
                            }
                            
                            function test(){
                                var table_value = document.getElementById('table');
                                var result = table_value.rows[1].cells[1].innerText;
                                console.log(result);
                            }
                        </script>
                        
                        
                        <table class = "table" id = "table" border = "0">
                            <thead>
                                <tr>
                                    <th id>수치</th>
                                    <th>아이템</th>
                                    <th></th>
                                    <th>순위</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for i in range(1,11) %}
                                <tr class = "items">
                                    <td class = "item_count"><a>{{ t_top_price[i - 1] }}({{ t_top_before[i - 1] }})</a></td>
                                    <td>
                                        <div>
                                            <div class = "item_name"><a>{{ t_top_kr_name[i - 1] }}</a></div>
                                            <div class = "item_box">
                                                <img alt="{{ t_top_name[i - 1] }}" src="{{ url_for('static', filename = t_top_path_1[i - 1], v = 0.1) }}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class = "item_value"><a>▲</a></td>
                                    <td class = "item_text"><a>{{i}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                
                <div class = "content_2">
                    <div style="width:100%;">
                        <canvas id="canvas"></canvas>
                    </div>
                    <script>
                        new Chart(document.getElementById("canvas"), {
                            type: 'line',
                            data: {
                                labels: {{ xlabels | tojson }},
                                datasets: [{
                                    label: '',
                                    data: {{ dataset | tojson }},
                                    backgroundColor: 'rgb(255, 99, 132)',
                                    borderColor: 'rgb(255, 99, 132)',
                                    fill: false,
                                    lineTension: 0.3
                                }]
                            },
                            options: {
                                responsive: true,
                                title: {
                                    display: true,
                                    text: '{{ item_names }} 그래프'
                                },
                                tooltips: {
                                    mode: 'index',
                                    intersect: false,
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: true
                                },
                                scales: {
                                    xAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                        }
                                    }],
                                    yAxes: [{
                                        display: true,
                                        ticks: {
                                        },
                                        scaleLabel: {
                                            display: true,
                                        }
                                    }]
                                }
                            }
                        });

                    </script>
                </div>

            </div>
            
            <div class = "footer">
                <h1>푸터</h1>
            </div>
        </div>
    </body>
</html>