<!DOCTYPE html>
<html lang = "kor">
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/index.css', v = 0.1) }}" />
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
        <title>RPC 워프레임</title>
    </head>
    <body>
        <div>
            <div class = "header">
                <h1>헤더</h1>
                <div>
                    <form action = "/result"  method = "POST" >
                        <h1>원하는 프라임을 입력하시오</h1>
                        <input type = "text" name = "item_name">
                        <button type = "submit">데이터 확인</button>
                    </form>
                </div>
            </div>
            
            <div class = "menu">
            
                <div class = "content_1">
                    <div class = "content_1_img">
                        <div class = "content_1_main0">
                            <img src = "{{ url_for('static', filename = '/image/item_image/warframe/Loki_Prime/Loki_Prime.png', v = 0.1) }}">
                            <div class = "content_1_title">
                                <a>오늘의 상승 아이템</a><br>
                                <a>280(0.5)</a>
                                <a href = "/warframe/loki_prime">로키 프라임</a>
                            </div>
                        </div>
                    </div>
                    <div class = "content_1_img">
                        <div class = "content_1_main1">
                            <img src = "{{ url_for('static', filename = '/image/item_image/warframe/Loki_Prime/Loki_Prime.png', v = 0.1) }}">
                            <div class = "content_1_title">
                                <a>오늘의 하락 아이템</a><br>
                                <a>280(0.5)</a>
                                <a href = "/warframe/loki_prime">로키 프라임</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class = "content_0" style="display: table;">
                    <div style="height: 100%; width: 100%; display: table-cell; vertical-align: middle;">
                        
                        <table border="0" style="width: 100%; border-spacing: 0px 5px;">
                            <thead>
                                <tr>
                                    <th>수치</th>
                                    <th>아이템</th>
                                    <th></th>
                                    <th>순위</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for i in range(1,11) %}
                                <tr class = "items">
                                    <td class = "item_count"><a>280(0.5)</a></td>
                                    <td>
                                        <div>
                                            <div class = "item_name"><a href = "/warframe/loki_prime">로키 프라임</a></div>
                                            <div class = "item_box">
                                                <img alt="로키 프라임" src="{{ url_for('static', filename = '/image/item_image/warframe/Loki_Prime/Loki_Prime.png', v = 0.1) }}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class = "item_value">▲</td>
                                    <td class = "item_text">{{i}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                
                <div class = "content_2">
                    <h3>오른쪽</h3>
                </div>

            </div>
            
            <div class = "footer">
                <h1>푸터</h1>
            </div>
        </div>
    </body>
</html>