<!DOCTYPE html>
<html lang = "kor">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1">
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/index.css', v = 0.1) }}" />
        <title>RPC 워프레임</title>
    </head>
    <body>
        <div class="order-unit--1rBda odd--2_4d5" style="height: 116px;">
            
            <div class="order-unit__item-icon--3bVZE">
                <a class="smartLink--Genkl item-icon--1CbzN" href="/ko/items/aksomati_prime_barrel">
                <img alt="Aksomati Prime Barrel" src="https://warframe.market/static/assets/sub_icons/barrel_128x128.png">
                </a>
                <div class="order-type-marker--1CWLz sell--RtJ9o rotate-sm--XdVfk mt-1">판매</div>
            </div>
            
            <div class="order-unit__item-name--3A-Tb">
            <a class="smartLink--Genkl item-link--2P-Os" href="/ko/items/aksomati_prime_barrel">
            <span>Aksomati Prime Barrel</span></a></div><div class="order-unit__price--2N9MQ"><div class="platinum-price--1897S sell--37iJH"><b class="price">
            개당 10 플래티넘
            </b>
            </div>
            </div>
            <div class="order-unit__rank-quantity--Wpzy4">
            <div class="quantity--2kQe5"><span>1</span><svg class="wfm-icon icon-cubes" viewBox="0 0 512 512">
            <use xlink:href="/static/build/wfm-icons-0d249d.svg#icon-cubes">
            </use>
            </svg>
            </div>
            </div>
            <div class="order-unit__user-info--2omq9">
            <div class="user__profile-link--2xbkM mini--2pVF-"><a class="smartLink--Genkl" href="/ko/profile/kionkion">
            <img class="user__avatar--21H7p" alt="kionkion" src="https://warframe.market/static/assets/user/avatar/5e6aec99dcc198034691ae71.png?d0a6487d80d52842f9d407c865a2a052">
            <span class="user__name--_iAVt">
            kionkion
            </span>
            </a>
            </div>
            <div class="user-status--1R3xK ml-2">
            <span class="ingame--1SMNV">
            온라인(게임)
            </span>
            </div>
            </div>
            <div class="order-unit__buttons--2UBN2">
            <button class="btn btn__primary--31Mpx" tabindex="0" type="button">
            <div>
            <svg class="wfm-icon icon-paste" viewBox="0 0 448 512">
            <use xlink:href="/static/build/wfm-icons-0d249d.svg#icon-paste">
            </use>
            </svg>
            <span>
            Buy
            </span>
            </div>
            </button>
            </div>
        </div>
    </body>
</html>