* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #2a2a2a;
    height: 60px;
    width: 100%;
    
    float: left;
    padding: 5px;
    margin: 1px auto;
    
    text-align: center;
    position:relative;
}

.header_menu_nav{
    display: none;
}

.header_menu:hover .header_menu_nav {
    display: block;
}

.header_menu:hover .text_boxss_1, .text_menu_1 {
    animation-name: movebox_1;
    animation-duration: 0.5s;
    animation-direction: normal;
}

.header_menu:hover .text_boxss_2, .text_menu_2 {
    animation-name: movebox_2;
    animation-duration: 0.6s;
    animation-direction: normal;
}

.header_menu:hover .text_boxss_3, .text_menu_3 {
    animation-name: movebox_3;
    animation-duration: 0.7s;
    animation-direction: normal;
}

.header_menu:hover .text_boxss_4, .text_menu_4 {
    animation-name: movebox_4;
    animation-duration: 0.8s;
    animation-direction: normal;
}

.header_logo {
    background-color: #2a2a2a;
    float: left;
    
    width: 20%;
    height: 100%;
    
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #ffffff;
    position: relative;
}

.header_logo a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}

.header_search {
    background-color: #ffffff;
    float: left;
    
    width: 40%;
    height: 100%;
    
    text-align: center;
}

.header_menu {
    background-color: #2a2a2a;
    float: left;
    
    width: 20%;
    height: 100%;
    
    text-align: center;
    position: relative;
}

.text_boxss {
    width: 100%;
    height: 48px;
    transform: skew(45deg);
    background: #ff7373;
    border: 1px solid #2a2a2a;
    top: 1%;
    left: 1%;
    position: absolute;
    z-index: 1;
}

.text_boxss_1 {
    width: 100%;
    height: 48px;
    transform: skew(45deg);
    background: #ff7373;
    border: 1px solid #2a2a2a;
    top: 115%;
    left: 22%;
    position: absolute;
    z-index: 1;
}

.text_boxss_2 {
    width: 100%;
    height: 48px;
    transform: skew(45deg);
    background: #ff7373;
    border: 1px solid #2a2a2a;
    top: 231%;
    left: 43%;
    position: absolute;
    z-index: 1;
}

.text_boxss_3 {
    width: 100%;
    height: 48px;
    transform: skew(45deg);
    background: #ff7373;
    border: 1px solid #2a2a2a;
    top: 347%;
    left: 64%;
    position: absolute;
    z-index: 1;
}

.text_boxss_4 {
    width: 100%;
    height: 48px;
    transform: skew(45deg);
    background: #ff7373;
    border: 1px solid #2a2a2a;
    top: 463%;
    left: 85%;
    position: absolute;
    z-index: 1;
}

.header_menu_nav{
    margin: 58px 0 0 0;
}

.text_menu {
    top: 1%;
    left: 1%;
    width: 100%;
    height: 100%;
    transform: translate(0%, 25%);
    position: absolute;
    z-index: 2;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #2a2a2a;
}

.text_menu_1 {
    top: 115%;
    left: 22%;
    width: 100%;
    height: 100%;
    transform: translate(0%, 25%);
    position: absolute;
    z-index: 2;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #2a2a2a;
}

.text_menu_2 {
    top: 231%;
    left: 43%;
    width: 100%;
    height: 100%;
    transform: translate(0%, 25%);
    position: absolute;
    z-index: 2;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #2a2a2a;
}

.text_menu_3 {
    top: 347%;
    left: 64%;
    width: 100%;
    height: 100%;
    transform: translate(0%, 25%);
    position: absolute;
    z-index: 2;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #2a2a2a;
}

.text_menu_4 {
    top: 463%;
    left: 85%;
    width: 100%;
    height: 100%;
    transform: translate(0%, 25%);
    position: absolute;
    z-index: 2;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #2a2a2a;
}

.header_info {
    background-color: #2a2a2a;
    float: left;
    
    width: 20%;
    height: 100%;
    
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #ffffff;
    position: relative;
}

.header_info a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}

.menu {
    background-color: #e5e5e5;
    
    padding: 15px;
    margin: 5px auto;
    
    float: left;
    width: 100%;
    
    border: 1px solid #000000;
}

.text_box {
    background-color: #2a2a2a;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.text_box input {
    border: none;
    outline: none;
    width: 80%;
    height: 45px;
    top: 4%;
    left: 0%;
    background: #ffffff;
    font-size: 15px;
    color: #2a2a2a;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 2;
}

.text_boxs {
    width: 100%;
    height: 48px;
    transform: skew(45deg);
    background: #ffffff;
    border: 1px solid #000000;
    top: 1%;
    left: -6%;
    position: absolute;
    z-index: 1;
}

.text_box span{
    top: 50%;
    left: 87%;
    transform: translate(50%, -50%);
    color: #2a2a2a;
    position: absolute;
    z-index: 3;
}

.text_box input:hover, .text_box input:hover:focus, .text_box input:hover:active{
    outline: none;
    background: #ffffff;
}

.content_0 {
    background-color: #ffffff;
    
    padding: 10px;
    margin: 5px auto;
    
    float: left;
    height: 750px;
    width: 35%;
    
    text-align: center;
    border: 1px solid #000000;
}

.table_up {
    width: 100%;
    padding: 5px;
    border-spacing: 0px 5px;
    background-color: #ff7373;
}

.table_down {
    width: 100%;
    padding: 5px;
    border-spacing: 0px 5px;
    background-color: #73abff;
}

.content_1 {
    background-color: #ffffff;
    
    padding: 10px;
    margin: 5px auto;
    
    float: left;
    height: 750px;
    width: 20%;
    
    text-align: center;
    border: 1px solid #000000;
}

.content_1_img {
    padding: 10px;
    margin: 5px auto;
    
    float: left;
    
    width: 100%;
    height: 350px;
}

.content_1_main0 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #ff7373;
    height: 300px;
    width: 300px;
    overflow: hidden;
    float: left;
    position: relative;
    background-color: #dbdcd9;
    transition: all ease 1s;
}

.content_1_main0 img {
    max-width: initial;
    margin-left: -50%;
    position: absolute;
}

.content_1_main0:hover {
    background-color: lightyellow;
    cursor: pointer;
}

.content_1_main1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #73abff;
    height: 300px;
    width: 300px;
    overflow: hidden;
    float: left;
    position: relative;
    background-color: #dbdcd9;
    transition: all ease 0.25s;
}

.content_1_main1 img {
    max-width: initial;
    margin-left: -50%;
    position: absolute;
}

.content_1_main1:hover {
    background-color: lightyellow;
    cursor: pointer;
}

.content_1_title {
    width: 300px;
    height: 0;
    
    border-right: 50px solid transparent;
    border-bottom: 60px solid #2a2a2a;
    top: 80%;
    left: -10%;
    position: absolute;
}

.content_1_title a{
    padding: 10px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    color: #f2f2f2;
}


.content_2 {
    background-color: #ffffff;
    
    padding: 10px;
    margin: 5px auto;
    
    float: left;
    height: 750px;
    width: 45%;
    
    text-align: center;
    border: 1px solid #000000;
}

.footer {
    background-color: #e5e5e5;
    
    padding: 10px;
    margin: 5px auto;
    
    float: left;
    width: 100%;
    
    text-align: center;
    border: 1px solid #000000;
}

.items {
    background-color: #dbdcd9;
    transition: all ease 0.25s;
}

.items:hover {
    background-color: lightyellow;
    transform: scale( 1.025 );
}

.item_count {
    width: 100px;
    min-width: 10%;
    height: 0;
    
    border-right: 50px solid transparent;
    border-bottom: 50px solid #2a2a2a;
    
    position: relative;
}

.item_count a{
    transform: translate(-30%, 135%);
    
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    color: #f2f2f2;
    
    position: absolute;
}

.item_name {
    margin: 0 5px;
    height: 50px;
    width: 250px;
    float: left;
    position: relative;
}

.item_name a{
    text-decoration: none;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #323232;
    float: left;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
}

.item_box {
    margin: 0 5px;
    
    width: 100px;
    max-height: 50px;
    max-width: auto;
    
    overflow: hidden;
    float: right;
}

.item_box img{
    margin-top: 1%;
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}

.item_value {
    width: 5px;
    font-size: 13px;
    color: red;
}

.item_text {
    width: 40px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 23px;
    color: black;
}

.buttons {
    height: 50px;
    width: 100%;
}

.button_up {
    border: 0;
    outline: 0;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #ff7373;
    cursor: pointer;
}

.button_down {
    border: 0;
    outline: 0;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #73abff;
    cursor: pointer;
}

@media screen and (max-width: 1620px) {
    
    .item_box {
        margin: 0 0px;

        width: 75px;
        max-height: 50px;
        max-width: auto;
    }
    
    .item_name a{
        font-size: 20px;
    }
}


@media screen and (max-width: 1024px) {
    
    ul, ol, li {
        margin: 5px;
    }
    
    .content_0, .content_1, .content_2 {
        width: 100%;
    }
    
    .header {
        height: 100%;
    }
    
    .header .header_menu:hover {
        height: auto;
    }
    
    .header_menu {
        display: none;
    }
    
    .header_info {
        display: none;
    }
    
    .header_logo, .header_menu, .header_info {
        width: 100%;
        height: 40px;
    }
    
    .header_search {
        width: 100%;
        height: 50px;
    }

    .text_box input {
        width: 80%;
        height: 45px;
        top: 3%;
        left: 9%;
        font-size: 15px;
    }
    
    .text_boxs {
        width: 93%;
        height: 48px;
        top: 1%;
        left: 3%;
    }

    .text_box span{
        left: 90%;
    }

    .text_box input:hover, .text_box input:hover:focus, .text_box input:hover:active{
        outline: none;
        background: #ffffff;
    }
    
    .item_box {
        margin: 0 0px;

        width: 100px;
        max-height: 50px;
        max-width: auto;
    }
    
    .item_name {
        margin: 0 0px;

        width: 200px;
        max-height: 50px;
        max-width: auto;
    }
    
    .item_count {
        border-right: 0px solid transparent;
    }

    .item_count a{
        transform: translate(-50%, 175%);
        font-size: 10px;
    }
    
    .item_name a{
        left: 5%;
        transform: translate(0%, -50%);
        font-size: 20px;
    }
}

@keyframes movebox_1 {
    0% {
        top: 115%;
        left: 1%;
    }
    100%{
        top: 115%;
        left: 22%;
    }
}

@keyframes movebox_2{
    0% {
        top: 231%;
        left: 22%;
    }
    100%{
        top: 231%;
        left: 43%;
    }
}

@keyframes movebox_3 {
    0% {
        top: 347%;
        left: 43%;
    }
    100%{
        top: 347%;
        left: 64%;
    }
}

@keyframes movebox_4 {
    0% {
        top: 463%;
        left: 64%;
    }
    100%{
        top: 463%;
        left: 85%;
    }
}